@charset "UTF-8";
/* CSS Document */

body {
  color: gray;
  background-color: #f6f6f6;
}

div.container

{
  border:1px solid #C00;
  width:960px;
  padding:0;
}

.section-1 {
  margin: 0px 0px 0px 0px;

}

h1 {
  color: #333333;
  font-size: 2em;
  margin: 30px 0px 0px 30px;
  font-family: myriad pro;
  -webkit-font-smoothing: antialiased;
}

h2 {
  color: #666666;
  font-size: .88em;
  margin: 0px 0px 20px 30px;

}

h3 {
  color: #666666;
  font-size: 2em;
  font-family: myriad pro;
  margin-top: 20px;
  padding: 10px 0px;
  -webkit-font-smoothing: antialiased
}

h4 {
  -webkit-font-smoothing: antialiased;
  font-size: 1.3em;
  margin: 20px 0px 25px 0px;

}

h5 {
  -webkit-font-smoothing: antialiased;
}

.bill-large p {

  color: #000000;
  font-size: .88em;
  padding: 10px;
  margin-left: 0px;
  line-height: 25px;
}

.bill-large {
  margin-left: 0px;
}

.bill-large p {
  margin: 10px 30px 0px 20px;

}

.bill-large h2 {
  margin-top: 20px;
  font-weight: ;
  line-height: 25px;

}

.listen-now {
  color: #000000;
  font-size: 2.3em;
  margin: 30px 20px 0px 0px;
}

.listen-now h3 {
  font-size: .88em;
  color: #666666;
  margin-bottom: 0px;
}

.listen-now img {
  margin-bottom:20px;
}

.high-player {
  margin: 0px 20px 10px 0px;
}

.low-player {
  margin: 0px 60px 0px 0px;
}

.share {
  font-size:1em;
  padding:20px 0px;
}

.share p {
  margin:0px 30px 0px 0px;
  color: #333333;
  font-size: 1em;
}

.share img {
  border:1px;
  webkit-border-radius: 20px;
  moz-border-radius: 20px;
  border-radius: 20px;
}

.bethel-logo {
  margin:30px 0px 30px 40px;
}

.subscribe {
  font-size: 1.4em;
  color: #666666;
  margin: 50px 0px 0px 100px;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  display: inline-block;
  margin: 0px 0px 20px 20px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}

li img {
  margin-bottom: 0px;
}

.bill-large {
  height: 441px;
  background-color:#9f83a8;
  background: url("../images/bill-large3.jpg");
  background-repeat: no-repeat;
}

.high-player {
  padding: 0px 0px;
}

.low-player {
  padding: 0px 0px;
}

.section-2 {
  margin: 0px 50px 0px 50px;
}

.recent-messages {
  color: #999999;
  font-size: 2em;
  margin: 30px 0px 10px 0px;
}

.recent-messages h3 {
  font-size: 1em;
  margin-bottom: 30px;
  font-family: myriad pro
}

.message-title {
  color: #333333;
}

.bill p {
  margin-right: 30px;
}

.bill h5 {
  margin-top: 40px;
}

.kris h5 {
  margin-top: 40px;
}

.kris-kathy h5{
  margin-top: 40px;
}

.bill2 h5 {
  margin-top: 40px;
}

.ibethel-tv {
  background-color:#9f83a8;
  padding: 0px 20px;
  margin: 80px 0px 0px 0px;
}

.ibethel-tv h3 {
  color: #654d6d;
  margin: 0px 0px 0px 0px;
  text-align: center;
}

.ibethel-tv p {
  margin-bottom: 10px;

}

.other-sites p {
  color: #fff;
  padding: 10px 0px;
  font-size: .88em;
  text-transform: uppercase;
  text-align:center;
  -webkit-font-smoothing: antialiased
}

.message-time p {
  text-align:;
}

.bethel-store {
  background-color: #82a1be;
  margin:80px 0px 0px 0px;
  padding: 0px 0px;
  text-align: center;

}
.ibethel-org {
  background-color: #aaaaaa;
  padding: 0px 30px;
  margin: 80px 0px 0px 0px;
}
.ibethel-org h3 {
  color: #5a5a5a;
  margin-left: 30px;
  text-align: center;

}

.bethel-store h3 {
  color: #3d576f;
  margin-left: 20px;
}

.ibethel-org h3{
  margin-left: 0px;
}

.need-help {
  margin: 60px;
}

.line-separator{
height:1px;
background:;
border-bottom:1px solid #cac9c9;

}
.verticalLine {
    border-right: solid #666666;
}
