@charset "UTF-8";
/* CSS Document */

body {
  color: gray;
  background-color: #f6f6f6;
}

div.container {
  border:1px solid #C00;
  width:960px;
  padding:0;
}

.section-1 {
  margin: 0px 0px 0px 0px;

}

h1 {
  color: #333333;
  font-size: 2em;
  margin: 30px 0px 0px 30px;
  font-family: myriad pro;
  -webkit-font-smoothing: antialiased;
}

h2 {
  color: #666666;
  font-size: .88em;
  margin: 0px 0px 20px 30px;

}

h3 {
  color: #666666;
  font-size: 2.5em;
  font-family: myriad pro;
  margin-top: 20px;
  padding: 10px 0px;
  -webkit-font-smoothing: antialiased
}

h4 {
  -webkit-font-smoothing: antialiased;
  font-size: 1.3em;
  margin: 20px 0px 25px 0px;

}

h5 {
  -webkit-font-smoothing: antialiased;
  margin-top: 0px;
}

.bill-large p {
  color: #000000;
  font-size: .88em;
  padding: 10px;
  margin-left: 0px;
  line-height: 25px;
}

.bill-large {
  margin-left: 0px;
  padding: 0px 0px;
}

.bill-large p {
  margin: 10px 30px 0px 20px;

}

.bill-large h2 {
  margin-top: 20px;
  font-weight: ;
  line-height: 25px;

}

.listen-now {
  color: #000000;
  font-size: 2.3em;
  margin: 30px 20px 0px 0px;
}

.listen-now h3 {
  font-size: .88em;
  color: #666666;
  margin-bottom: 10px;
}
.player{
  width: 158px;
  height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  overflow: hidden;
}
.outer-player {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  overflow: hidden;
}
.high-player {
  margin: 0px 10px 10px 0px;
  color:#ffffff;
  background-color: #5a5a5a;
  width: 158px;
  height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  overflow: hidden;
}
.high-player h6{
  margin-left:8px;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;

}
.outer-high-player{
  width: 158px;
  height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  overflow: hidden;

}

.low-player {
  margin: 10px 60px 0px 0px;
  margin: 0px 10px 10px 0px;
  color:#ffffff;
  background-color: #5a5a5a;
  width: 158px;
  height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  overflow: hidden;

}
.outer-low-player{
    width: 158px;
    height: 40px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    overflow: hidden;
}
.low-player h6{
  margin-left:8px;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
}
.share {
  font-size:1em;
  margin-bottom: 20px;
}

.share p {
  margin:0px 30px 0px 0px;
  color: #333333;
  font-size: 1em;
}

.share img {
  border:1px;
  webkit-border-radius: 20px;
  moz-border-radius: 20px;
  border-radius: 20px;
}

.bethel-logo {
  margin:30px 0px 10px 50px;
}

.subscribe {

  color: #666666;
  margin: 20px 0px 0px 80px;
}

ul {
  list-style-type: none;

}

li{
  float: left;
  display: inline-block;
  margin: 0px 0px 20px 20px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  font-size: 1.4em;
}

li img {
  margin-bottom: 0px;
}
.subscribe-podcast li{
  margin-bottom:20px;
  margin-top: 10px;
  margin-left: 20px;
}

.bill-large {
  height: 441px;
  background-color:#9f83a8;
  background: url("../images/bill-large3.jpg");
  background-repeat: no-repeat;

}


.section-2 {
  margin: 0px 50px 0px 50px;
}

.recent-messages {
  color: #999999;
  font-size: 2.1em;
  margin: 30px 0px 10px 0px;
}

.recent-messages h3 {
  font-size: 1em;
  margin-bottom: 30px;
  font-family: myriad pro
}

.message-title {
  color: #333333;
}

.bill p {
  margin-right: 30px;
}

.bill h5 {
  margin-top: 30px;
}

.kris h5 {
  margin-top: 30px;
}

.kris-kathy h5{
  margin-top: 30px;
}

.bill2 h5 {
  margin-top: 30px;
}
.listen-button {
  background-color: #dfdfdf;
  padding: 9px 12px;
  margin-right: 125px;
  margin-top:;
  font-family: myriad pro;
  color:#666666;
  font-size: .88em;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
}
.listen-button-pushed {
  background-color: #ffffff;
  padding: 9px 12px;
  margin-right: 125px;
  margin-top:;
  font-family: myriad pro;
  color:#666666;
  font-size: .88em;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
}

.ibethel-tv {
  background-color:#9f83a8;
  padding: 10px 20px 10px 10px;
  margin: 80px 0px 0px 0px;
}

.ibethel-tv h3 {
  color: #654d6d;
  margin: 0px 0px 0px 0px;
  text-align: center;
}

.ibethel-tv p {
  margin-bottom: 10px;
}

.other-sites p {
  color: #fff;
  padding: 10px 0px;
  font-size: .88em;
  text-transform: uppercase;
  text-align:center;
  -webkit-font-smoothing: antialiased;
}


.bethel-store {
  background-color: #82a1be;
  margin:80px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
  text-align: center;

}
.ibethel-org {
  background-color: #aaaaaa;
  margin: 80px 0px 0px 0px;
  padding-left: 0px;
}
.ibethel-org h3 {
  color: #5a5a5a;
  margin-left: 20px;
  margin-right:20px;
  text-align: center;
  text-size: 2.5em;


}

.bethel-store h3 {
  color: #3d576f;
  margin-left: 20px;
}

.footer {
  margin: 50px 0px 30px 0px;
}

.need-help {
  float: right;
}

.line-separator {
  height:1px;
  border-bottom:1px solid #cac9c9;
  margin-bottom: opx;

}
.vertical-line {
  border-right: solid 1px #999999;
}
.col-md-4 {
  padding:0px 5px;

}
.change-language{
  text-align: right;
  margin-right: 80px;
  text-size: .88em;


}
.english {
  text-size: .88em;
  margin-right: 10px;
  margin-bottom: 30px;
  border-style: solid;
  border-color: #bcbbbb;
  border-width: thin;
  padding: 5px 40px;
  font-family: myriad pro;
  color:#666666;
  font-size: .88em;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
}


.col-md-6 {
  padding
}
.english-change-language{
  padding: 0px 0px;
  margin-bottom: 40px;
  margin-right: 20px;

}
.english img{

}
